@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Safe zone variables */
	--sat: env(safe-area-inset-top, 0);
	--sar: env(safe-area-inset-right, 0);
	--sab: env(safe-area-inset-bottom, 0);
	--sal: env(safe-area-inset-left, 0);
}

html {
	@apply h-full;
	@apply w-full;
}

body {
	@apply h-full;
	@apply w-full;
	@apply flex;
	@apply flex-col;
	@apply bg-light-surface;
	@apply dark:bg-dark-surface;
	@apply m-0;
	@apply px-0;
	@apply left-0;
	@apply right-0;
	@apply top-0;
	@apply bottom-0;
	overscroll-behavior: none;
}

@media only screen and (min-width: 768px) {
	body {
		@apply p-0;
		@apply h-full;
		@apply w-full;
		touch-action: none;
		-ms-touch-action: none;
	}
}

* {
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
}
