@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Safe zone variables */
	--sat: env(safe-area-inset-top, 0);
	--sar: env(safe-area-inset-right, 0);
	--sab: env(safe-area-inset-bottom, 0);
	--sal: env(safe-area-inset-left, 0);
}

html {
	@apply h-full;
	@apply w-full;
	@apply overflow-hidden;
}

body {
	@apply h-full;
	@apply w-full;
	@apply flex;
	@apply flex-col;
	@apply bg-background;
	@apply overflow-hidden;
	overscroll-behavior: none;
}

* {
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
}

.example-container {
	@apply mb-6;
}

.example-container:last {
	@apply mb-0;
}

.example-container .divider.horizontal {
	@apply w-2;
	@apply rounded-md;
	@apply bg-secondary-content;
	@apply bg-opacity-50;
	@apply shadow;
	@apply ml-2;
	@apply !h-12;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply !top-2/4;
	transform: translate(-50%, -50%) !important;
}

.example-container .divider.horizontal::after {
	@apply !h-12;
}
