@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Safe zone variables */
	--sat: env(safe-area-inset-top, 0);
	--sar: env(safe-area-inset-right, 0);
	--sab: env(safe-area-inset-bottom, 0);
	--sal: env(safe-area-inset-left, 0);
}

html {
	@apply h-full;
	@apply w-full;
	@apply overflow-hidden;
}

body {
	@apply h-full;
	@apply w-full;
	@apply flex;
	@apply flex-col;
	@apply bg-background;
	@apply overflow-hidden;
	overscroll-behavior: none;
}

* {
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
}

.example-container {
	@apply mb-6;
}

.example-container:last {
	@apply mb-0;
}

.example-container .divider.horizontal {
	@apply w-2;
	@apply rounded-md;
	@apply bg-secondary-content;
	@apply bg-opacity-50;
	@apply shadow;
	@apply ml-2;
	@apply !h-12;
	@apply flex;
	@apply items-center;
	@apply justify-center;
	@apply !top-2/4;
	transform: translate(-50%, -50%) !important;
}

.example-container .divider.horizontal::after {
	@apply !h-12;
}

.slot-component-col > span,
.prop-type-col > span {
	overflow: auto !important;
	text-overflow: clip !important;
	white-space: normal !important;
}

::-webkit-scrollbar {
	max-width: 0.5rem;
}
::-webkit-scrollbar:horizontal {
	height: 0.5rem;
	max-height: 0.5rem;
}
::-webkit-scrollbar-track {
	background-color: rgba(25, 25, 25, 0.05);
}
[data-theme='dark'] ::-webkit-scrollbar-track {
	background-color: rgba(89, 90, 92, 0.15);
}
::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background-color: rgba(5, 5, 5, 0.15);
}
[data-theme='dark'] ::-webkit-scrollbar-thumb {
	background-color: rgba(250, 250, 250, 0.15);
}
